.missionTile {
    background-color: white;
    border-radius: 6px;
    margin-top: 1rem;
    padding: 1rem;
}

.missionTile img {
    margin: auto;
}

.missionTile span {
    color: black;
    font-weight: bold;
    display: block;
}

.missionTile .missionName {
    color: #494F9A;
    font-weight: bold;
}